.filters {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: space-around;
    
    align-self: left;
    margin-top: 3vh;
    padding-bottom: 3vh;
}
.serv-filter .ani-filters{
    margin: 0 10px;
   

   
}
.services-title, .animals-title {
    /* background-color: #699759; */
    border-radius: 20px;
    padding: 2vh 0vw; 
    /* margin: 2vw; */
    color: #054231;
    text-align: center;
    max-width: 100px;
}

.services-filters, .animal-filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.s-filters, .a-filters {
    display: flex;
    flex-direction: column;
    width: 20vw;
    max-width: 300px;
}

.s-filters label,
.a-filters label {
    padding-left: 1vw;
    padding-right: 10px;
    color: white;
    padding-top: 1.5vh;
   
    text-align: left;
    width: 95%;
}

.s-filters, .a-filters {
    background-color: #699759;
    border-radius: 20px;
    padding: 2vh 1vh;
    /* /* padding-top: 2vh; */ 
    /* margin: 2vw; */
    color: white;
    /* text-align: center; */
}
.s-filters input, .a-filters input{
    float: right; 
    width: 20px;
    /* margin-right: 10px; */
}


@media screen and (max-width: 800px) {
    .filters {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: 1vh;
        padding-bottom: 1vh;
        padding: 0rem 1rem;
        width: 90vw;
    }

    .services-filters {
        padding: 0rem 2rem;
    }
    .services-filters input {
        padding: 5rem 0rem;
    }

    .s-filters {
        font-size: 1.5vh;
        padding: 1rem;
        width: 40vw;
    }
    
}


@media screen and (max-width: 800px) {
    .filters {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: 1vh;
        padding-bottom: 1vh;
        padding: 0rem 1rem;
        width: 90vw;
    }

    .services-filters {
        padding: 0rem 2rem;
    }
    .services-filters input {
        padding: 5rem 0rem;
    }

    .s-filters {
        font-size: 1.5vh;
        padding: 1rem;
        width: 40vw;
    }
    
}
